@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.dice-roll .dice-total.critical {
  color: green;
}

.dice-roll .dice-total.fumble {
  color: red;
}

.fumble-roll {
  color: red;
}

.crit-roll {
  color: green;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  margin: 1px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: none;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.col1-5 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.col2-5 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.col2-6 {
  grid-column-start: 2;
  grid-column-end: 6;
}

.row1-5 {
  grid-row-start: 1;
  grid-row-end: 5;
}

.row1-6 {
  grid-row-start: 1;
  grid-row-end: 6;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-left {
  align-items: left;
  justify-content: left;
  text-align: left;
}

.flex-between {
  justify-content: space-between;
}

/* Styles limited to ryuutama sheets */
.ryuutama .item-form {
  font-family: "Roboto", sans-serif;
}

.ryuutama .sheet-header {
  flex: 0 0 260px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ryuutama .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.ryuutama .sheet-header .resource-image {
  vertical-align: middle;
  flex: 0 0 30px;
  height: 30px;
  margin-right: 10px;
  border: none;
}

.ryuutama .sheet-header .attribute-image {
  vertical-align: middle;
  flex: 0 0 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: none;
}

.ryuutama .sheet-header .check-image {
  vertical-align: middle;
  flex: 0 0 25px;
  height: 25px;
  margin: 2px;
  padding: 2px;
  padding-left: 7px;
  border: none;
}

.ryuutama .sheet-header .status-image {
  vertical-align: middle;
  flex: 0 0 25px;
  height: 25px;
  margin: 2px;
  padding: 2px;
  border: none;
}

.ryuutama .sheet-header .status-checkbox {
  flex: 0 0 7px;
  margin-top: 5px;
  padding-top: 5px;
  border: none;
}

.ryuutama .sheet-header .spacer {
  flex: 0 0 25px;
}

.ryuutama .sheet-header .spacer-half {
  flex: 0 0 15px;
}

.ryuutama .sheet-header .equipment-label {
  padding-top: 5px;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
}

.ryuutama .sheet-header .gold-label {
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
}

.ryuutama .sheet-header .attribute-select {
  vertical-align: top;
}

.ryuutama .sheet-header .attribute-label {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.ryuutama .sheet-header .attribute-bonus {
  vertical-align: middle;
  height: 10px;
  cursor: pointer;
}

.ryuutama .sheet-header .resource-input {
  vertical-align: middle;
  width: 50px;
  height: 25px;
}

.ryuutama .sheet-header .journey {
  vertical-align: middle;
  padding-top: 5px;
  flex: 0 0 80px;
}

.ryuutama .sheet-header .status-input {
  flex: 0 0 30px;
  vertical-align: middle;
}

.ryuutama .sheet-header .gold-input {
  width: 50%;
}

.ryuutama .sheet-header .header-fields {
  flex: 1;
}

.ryuutama .sheet-header .header-fields .left-panel {
  padding-top: 5px;
}

.ryuutama .sheet-header .price {
  padding-top: 10px;
  vertical-align: middle;
}

.ryuutama .sheet-header .attribute {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  margin: 2px;
}

.ryuutama .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.ryuutama .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ryuutama .sheet-header .level {
  height: 20px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.ryuutama input {
  border: none;
}

.ryuutama .sheet-tabs {
  flex: 0;
}

.ryuutama .body {
  padding-bottom: 20px;
}

.ryuutama .body .terrain input {
  vertical-align: middle;
}

.ryuutama .sheet-body,
.ryuutama .sheet-body .tab,
.ryuutama .sheet-body .tab .editor {
  height: 200px;
}

.ryuutama .tox .tox-editor-container {
  background: #fff;
}

.ryuutama .tox .tox-edit-area {
  padding: 0 8px;
}

.ryuutama .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.ryuutama .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.ryuutama .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.ryuutama .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.ryuutama .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
}

.ryuutama .items-list .item-header {
  font-weight: bold;
}

.ryuutama .items-list .held-hidden {
  display: none;
}

.ryuutama .items-list .item,
.ryuutama .items-list .level {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.ryuutama .items-list .item .item-image,
.ryuutama .items-list .level .item-image {
  flex: 0 0 24px;
  margin-right: 5px;
  border: none;
}

.ryuutama .items-list .item .terrain-checkbox,
.ryuutama .items-list .level .terrain-checkbox {
  flex: 0 0 7px;
  margin-right: 5px;
}

.ryuutama .items-list .item img,
.ryuutama .items-list .level img {
  display: block;
}

.ryuutama .items-list .item-name {
  margin: 0;
}

.ryuutama .items-list .terrain-name {
  flex: 0 0 90px;
}

.ryuutama .items-list .terrain-check {
  flex: 0 0 25px;
}

.ryuutama .items-list .terrain-input {
  flex: 0 0 50px;
}

.ryuutama .items-list .level-points {
  width: 30px;
}

.ryuutama .items-list .item-size {
  flex: 0 0 10px;
  text-align: left;
}

.ryuutama .items-list .item-damage {
  flex: 0 0 90px;
  text-align: center;
  font-weight: bold;
}

.ryuutama .items-list .item-info {
  flex: 0 0 80px;
  text-align: center;
}

.ryuutama .items-list .item-accuracy {
  flex: 0 0 120px;
  text-align: center;
  font-weight: bold;
}

.ryuutama .items-list .item-equip {
  flex: 0 0 90px;
  text-align: center;
}

.ryuutama .items-list .item-controls {
  flex: 0 0 80px;
  text-align: right;
}

.ryuutama .items-list .item-controls .item-toggle {
  color: #b5b3a4;
}

.ryuutama .items-list .item-controls .item-toggle.active {
  color: #4b4a44;
}

.ryuutama .items-list .item-controls .item-toggle.fixed {
  color: #44191A;
}

.ryuutama .items-list .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
/*# sourceMappingURL=ryuutama.css.map */