<div class="tab equipment" data-group="primary" data-tab="equipment">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.weapons" }}</div>
            <div class="item-accuracy">{{ localize "RYUU.accuracy" }}</div>
            <div class="item-damage">{{ localize "RYUU.damage" }}</div>
            <div class="item-size">{{ localize "RYUU.size" }}</div>
            <div class="item-controls"></div>
        </li>
        {{#each actor.equipment as |item id|}}
            {{#if item.data.equipped}}
                {{#if item.data.isWeapon}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img class="rollable {{item.type}} accuracy damage" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-accuracy rollable accuracy">{{item.data.accuracy}} + {{item.data.masteredBonus}}</div>
                        <div class="item-damage rollable damage">{{item.data.damage}} + {{item.data.damageBonus}}</div>
                        <div class="item-size">{{item.data.size}}</div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{#if item.data.equipped}}active{{/if}}" title='{{#if item.data.equipped}}un{{/if}}equip'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ol>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.armorshield" }}</div>
            <div class="item-info">{{ localize "RYUU.dpshort" }}</div>
            <div class="item-info">{{ localize "RYUU.penalty" }}</div>
            <div class="item-info">{{ localize "RYUU.dodgeshort" }}</div>
            <div class="item-size">{{ localize "RYUU.size" }}</div>
            <div class="item-controls"></div>
        </li>
        {{#each actor.equipment as |item id|}}
            {{#if item.data.equipped}}
                {{#if item.data.isArmor}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img class="{{item.type}}" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-info">{{item.data.defense}}</div>
                        <div class="item-info">{{item.data.penalty}}</div>
                        <div class="item-info">{{item.data.dodge}}</div>
                        <div class="item-size">{{item.data.size}}</div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{#if item.data.equipped}}active{{/if}}" title='{{#if item.data.equipped}}un{{/if}}equip'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ol>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.travelgear" }}</div>
        </li>
        {{#each actor.equipment as |item id|}}
            {{#if item.data.equipped}}
                {{#if item.data.isTraveling}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img class="{{item.type}}" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-size">{{item.data.size}}</div>
                        <div class="item-controls">
                            <a class="item-control item-toggle {{#if item.data.equipped}}active{{/if}}" title='{{#if item.data.equipped}}un{{/if}}equip'><i class="fas fa-shield-alt"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ol>

    {{!-- Class Info and Features --}}
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.classes" }}</div>
            <div class="item-info">{{ localize "RYUU.type" }}</div>
            <div class="item-controls"></div>
        </li>
        {{#each actor.classes as |class id|}}
            <li class="item flexrow" data-item-id="{{class._id}}">
                <div class="item-image"><img class="{{class.type}}" src="{{class.img}}" title="{{class.name}}" width="24" height="24" /></div>
                <h4 class="item-name">{{class.name}}</h4>
                <div class="item-info">{{ localize (concat "RYUU." class.data.type)}}</div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{#each class.data.features as |feature|}}
                <li class="item flexrow">
                    <div class="item-image"></div>
                    <div class="item-image"></div>
                    <h4 class="item-name">{{feature.name}}</h4>
                    {{#if feature.data.stat}}
                        <div class="item-damage rollable">{{feature.data.stat}}{{#if feature.data.farmer}} -1{{/if}}</div>
                    {{/if}}
                    {{#if feature.data.mastered}}
                        <div class="item-info">{{ localize (concat "RYUU." feature.data.mastered) }}</div>
                    {{/if}}
                    <div class="item-name"></div>
                    <div class="item-controls"></div>
                </li>
            {{/each}}
        {{/each}}
    </ol>

    {{!-- Travel Info --}}
    {{> "systems/ryuutama/templates/actor/parts/actor-travel.html"}}
</div>