<div class="flexrow">
    {{#each data.traveling as |base key0|}}
        <ol class="items-list">
            {{#each base as |level key1|}}
                <li class="item flexrow item-header">
                    <div class="terrain-name">{{ localize "RYUU.level" }} {{key1}}</div>
                    <div class="terrain-check">{{level.dc}}</div>
                </li>
                {{#each level.types as |type key2|}}
                    <li class="item flexrow">
                        <div class="terrain-checkbox"><i class="fas {{#if type.specialty}}fa-check-circle{{/if}}"></i></div>
                        <h4 class="terrain-name">{{type.name}}</h4>
                        <div>{{type.bonus}}</div>
                    </li>
                {{/each}}
            {{/each}}
        </ol>
    {{/each}}
</div>