<div class="tab items" data-group="primary" data-tab="items">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.equipment" }}</div>
            <div class="item-name"></div>
        </li>
        {{#each actor.equipment as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
            <div class="item-image"><img class="{{#if item.data.isWeapon}}rollable {{item.type}} accuracy damage{{/if}}" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-equip">{{#if item.data.equip}}{{ localize (concat "RYUU." item.data.equip) }}{{/if}}</div>
            <div class="item-size">{{item.data.size}}</div>
            <div class="item-controls">
                <a class="item-control item-toggle {{#if item.data.equipped}}active{{/if}}" title='{{#if item.data.equipped}}un{{/if}}equip'><i class="fas fa-shield-alt"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.gear" }}</div>
            <div class="item-image"></div>
        </li>
        {{#each actor.gear as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.containers" }}</div>
            <div class="item-image"></div>
        </li>
        {{#each actor.containers as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-equip">{{item.data.holdingSize}}/{{item.data.canHold}}</div>
            <div class="item-size">{{item.data.size}}</div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{#each item.data.holding as |held id|}}
        <li class="item flexrow" data-item-id="{{held.id}}" data-parent-id="{{item._id}}">
            <div class="item-image"></div>
            <div class="item-image"><img src="{{held.img}}" title="{{held.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{held.name}}</h4>
            {{#if (and held.equippable held.equip)}}
            <div class="item-equip">{{ localize (concat "RYUU." held.equip) }}</div>
            {{/if}}
            <div class="item-size">{{held.size}}</div>
            <div class="item-controls">
                {{#if held.equippable}}
                <a class="item-control item-toggle item-store" title='equip'><i class="fas fa-shield-alt"></i></a>
                {{/if}}
                <a class="item-control item-store" title="Remove from Container"><i class="fas fa-archive"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
        {{/each}}
    </ol>
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.animals" }}</div>
            <div class="item-image"></div>
        </li>
        {{#each actor.animals as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>