<div class="tab items" data-group="primary" data-tab="items">
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-name">{{ localize "RYUU.equipment" }}</div>
            <div class="item-equip">{{ localize "RYUU.equip" }}</div>
            <div class="item-size">{{ localize "RYUU.size" }}</div>
            <div class="item-controls"></div>
        </li>
        {{#each actor.items as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                <div class="item-image"><img class="{{#if item.data.isWeapon}}rollable {{item.type}} accuracy damage{{/if}}" src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                <h4 class="item-name">{{item.name}}</h4>
                <div class="item-equip">{{#if item.data.equip}}{{ localize (concat "RYUU." item.data.equip) }}{{/if}}</div>
                <div class="item-size">{{item.data.size}}</div>
                <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {{/each}}
    </ol>
</div>