.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-left {
  align-items: left;
  justify-content: left;
  text-align: left;
}

.flex-between {
  justify-content: space-between;
}