<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <div class="grid grid-6col">
                <div class="row1-6">
                    <div>
                        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
                    </div>
                    <div class="left-panel">
                        <label for="data.attributes.condition.value" class="resource-label">{{ localize "RYUU.condition" }}</label>
                        <br />
                        <img class="resource-image" src="/systems/ryuutama/img/sheet/condition.svg" title="{{ localize 'RYUU.condition' }}" />
                        <input class="resource-input" type="text" name="data.attributes.condition.value" value="{{data.attributes.condition.value}}" data-dtype="Number" />
                    </div>
                    <div class="left-panel">
                        <label for="data.attributes.initiative" class="resource-label">{{ localize "RYUU.initiative" }}</label>
                        <br />
                        <img class="resource-image" src="/systems/ryuutama/img/sheet/dice.svg" title="{{ localize 'RYUU.initiative' }}" />
                        <input class="resource-input" type="text" name="data.attributes.initiative" value="{{data.attributes.initiative}}" data-dtype="Number" />
                    </div>
                    <div class="left-panel">
                        <label for="data.armor" class="resource-label">{{ localize "RYUU.armor" }}</label>
                        <br />
                        <img class="resource-image" src="/systems/ryuutama/img/armor/shoulder-armor.svg" title="{{ localize 'RYUU.armor' }}" />
                        <input class="resource-input" type="text" name="data.armor" value="{{data.armor}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="col2-5">
                    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                </div>
                <div>
                    <div class="grid grid-2col level">
                        <div>
                            <label class="resource-label">{{ localize "RYUU.level" }}</label>
                        </div>
                        <div>
                            <input type="text" name="data.attributes.level" value="{{data.attributes.level}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="grid grid-2col level">
                        <div>
                            <label class="resource-label">{{ localize "RYUU.number" }}</label>
                        </div>
                        <div>
                            <input type="text" name="data.ref" value="{{data.ref}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
                <div class="col2-6">
                    <div class="resources grid grid-4col">
                        <div class="attribute flex-group-center">
                            <div class="flexrow">
                                <div>
                                    <label for="data.attributes.str.value" class="attribute-label">{{ localize "RYUU.str.short" }}</label>
                                    <br />
                                    <label class="attribute-label">1d{{data.attributes.str.value}}</label>
                                </div>
                                <img class="attribute-image rollable" src="/systems/ryuutama/img/sheet/str.svg" id="roll-strength" title="{{ localize 'RYUU.str.short' }}" />
                            </div>
                        </div>
                        <div class="attribute flex-group-center">
                            <div class="flexrow">
                                <div>
                                    <label for="data.attributes.dex.value" class="attribute-label">{{ localize "RYUU.dex.short" }}</label>
                                    <br />
                                    <label class="attribute-label">1d{{data.attributes.dex.value}}</label>
                                </div>
                                <img class="attribute-image rollable" src="/systems/ryuutama/img/sheet/dex.svg" id="roll-dexterity" title="{{ localize 'RYUU.dex.long' }}" />
                            </div>
                        </div>
                        <div class="attribute flex-group-center">
                            <div class="flexrow">
                                <div>
                                    <label for="data.attributes.int.value" class="attribute-label">{{ localize "RYUU.int.short" }}</label>
                                    <br />
                                    <label class="attribute-label">1d{{data.attributes.int.value}}</label>
                                </div>
                                <img class="attribute-image rollable" src="/systems/ryuutama/img/sheet/int.svg" id="roll-intelligence" title="{{ localize 'RYUU.int.long' }}" />
                            </div>
                        </div>
                        <div class="attribute flex-group-center">
                            <div class="flexrow">
                                <div>
                                    <label for="data.attributes.spi.value" class="attribute-label">{{ localize "RYUU.spi.short" }}</label>
                                    <br />
                                    <label class="attribute-label">1d{{data.attributes.spi.value}}</label>
                                </div>
                                <img class="attribute-image rollable" src="/systems/ryuutama/img/sheet/spi.svg" id="roll-spirit" title="{{ localize 'RYUU.spi.long' }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col2-6">
                    <div class="resources grid grid-2col">
                        <div class="resource flex-group-center">
                            <div class="resource-content flexrow flex-center flex-between">
                                <label for="data.hp.value" class="resource-label">{{ localize "RYUU.hp.short" }}</label>
                                <img class="resource-image rollable" src="/systems/ryuutama/img/sheet/hp.svg" id="set-max-hp" title="{{ localize 'RYUU.hp.long' }}" height="30" width="30" />
                                <input class="resource-input" type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number" />
                                <span> / </span>
                                <input class="resource-input" type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="resource flex-group-center">
                            <div class="resource-content flexrow flex-center flex-between">
                                <label for="data.mp.value" class="resource-label">{{ localize "RYUU.mp.short" }}</label>
                                <img class="resource-image rollable" src="/systems/ryuutama/img/sheet/mp.svg" id="set-max-mp" title="{{ localize 'RYUU.mp.long' }}" height="30" width="30" />
                                <input class="resource-input" type="text" name="data.mp.value" value="{{data.mp.value}}" data-dtype="Number" />
                                <span> / </span>
                                <input class="resource-input" type="text" name="data.mp.max" value="{{data.mp.max}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col2-6">
                    <div class="flexrow">
                        <div>
                            {{ localize "RYUU.str.short" }}:
                            <select class="attribute-select" name="data.attributes.str.base">
                                {{#select data.attributes.str.base}}
                                    <option value="2">d2</option>
                                    <option value="4">d4</option>
                                    <option value="6">d6</option>
                                    <option value="8">d8</option>
                                    <option value="10">d10</option>
                                    <option value="12">d12</option>
                                    <option value="20">d20</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            {{ localize "RYUU.dex.short" }}:
                            <select class="attribute-select" name="data.attributes.dex.base">
                                {{#select data.attributes.dex.base}}
                                    <option value="2">d2</option>
                                    <option value="4">d4</option>
                                    <option value="6">d6</option>
                                    <option value="8">d8</option>
                                    <option value="10">d10</option>
                                    <option value="12">d12</option>
                                    <option value="20">d20</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            {{ localize "RYUU.int.short" }}:
                            <select class="attribute-select" name="data.attributes.int.base">
                                {{#select data.attributes.int.base}}
                                    <option value="2">d2</option>
                                    <option value="4">d4</option>
                                    <option value="6">d6</option>
                                    <option value="8">d8</option>
                                    <option value="10">d10</option>
                                    <option value="12">d12</option>
                                    <option value="20">d20</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            {{ localize "RYUU.spi.short" }}:
                            <select class="attribute-select" name="data.attributes.spi.base">
                                {{#select data.attributes.spi.base}}
                                    <option value="2">d2</option>
                                    <option value="4">d4</option>
                                    <option value="6">d6</option>
                                    <option value="8">d8</option>
                                    <option value="10">d10</option>
                                    <option value="12">d12</option>
                                    <option value="20">d20</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col2-6">
                    <div class="resources grid grid-2col">
                        <div class="resource flex-group-center">
                            <label for="data.season" class="resource-label">{{ localize "RYUU.season" }}</label>
                            <input class="resource" type="text" name="data.season" value="{{data.season}}" data-dtype="String" />
                        </div>
                        <div class="resource flex-group-center">
                            <label for="data.habitat" class="resource-label">{{ localize "RYUU.habitat" }}</label>
                            <input class="resource" type="text" name="data.habitat" value="{{data.habitat}}" data-dtype="String" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="eqquiped">{{ localize "RYUU.description" }}</a>
        <a class="item" data-tab="items">{{ localize "RYUU.items" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab eqquiped" data-group="primary" data-tab="eqquiped">
            <div class="flexrow">
                <div class="resource">
                    <textarea rows="5" cols="60" name="data.biography">{{data.biography}}</textarea>
                </div>
            </div>
            <br />
            <div class="flexrow">
                <img class="resource-image {{#if data.accuracy}}rollable{{/if}}" src="/systems/ryuutama/img/sheet/dice.svg" id="roll-accuracy" title="{{ localize 'RYUU.accuracy' }}" width="50" height="50" />
                <div class="resource">
                    <label for="data.accuracy" class="resource-label">{{ localize "RYUU.accuracy" }}</label>
                    <input class="resource-input" type="text" name="data.accuracy" value="{{data.accuracy}}" data-dtype="String" />
                </div>
                <div></div>
                <img class="resource-image {{#if data.damage}}rollable{{/if}}" src="/systems/ryuutama/img/sheet/dice.svg" id="roll-damage" title="{{ localize 'RYUU.damage' }}" width="50" height="50" />
                <div class="resource">
                    <label for="data.damage" class="resource-label">{{ localize "RYUU.damage" }}</label>
                    <input class="resource-input" type="text" name="data.damage" value="{{data.damage}}" data-dtype="String" />
                </div>
            </div>
            <br />
            <div class="flexrow">
                <div class="resource">
                    <label for="data.ability.description" class="resource-label">{{ localize "RYUU.abilitydescription" }}</label>
                    <textarea rows="5" cols="60" name="data.ability.description">{{data.ability.description}}</textarea>
                </div>
            </div>
            <div class="flexrow">
                <img class="resource-image rollable" src="/systems/ryuutama/img/sheet/dice.svg" id="roll-ability-accuracy" title="{{ localize 'RYUU.accuracy' }}" width="50" height="50" />
                <div class="resource">
                    <label for="data.ability.accuracy" class="resource-label">{{ localize "RYUU.accuracy" }}</label>
                    <input class="resource-input" type="text" name="data.ability.accuracy" value="{{data.ability.accuracy}}" data-dtype="String" />
                </div>
                <div></div>
                <img class="resource-image {{#if data.ability.damage}}rollable{{/if}}" src="/systems/ryuutama/img/sheet/dice.svg" id="roll-ability-damage" title="{{ localize 'RYUU.ability.damage' }}" width="50" height="50" />
                <div class="resource">
                    <label for="data.ability.damage" class="resource-label">{{ localize "RYUU.damage" }}</label>
                    <input class="resource-input" type="text" name="data.ability.damage" value="{{data.ability.damage}}" data-dtype="String" />
                </div>
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        {{> "systems/ryuutama/templates/actor/parts/monster-items.html"}}

    </section>
</form>