<header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        <div class="grid grid-5col">
            <div class="col1-5">
                <h1 class="charname"><input name="data.givenName" type="text" value="{{data.givenName}}" placeholder="Name" /></h1>
            </div>
        </div>
        <div class="grid grid-3col">
            <div class="resource">
                <label for="data.type" class="resource-label">{{ localize "RYUU.type" }}</label>
                <select class="attribute-select" name="data.type">
                    {{#select data.type}}
                    <option value="none"></option>
                    <option value="attack">{{ localize "RYUU.attack" }}</option>
                    <option value="technical">{{ localize "RYUU.technical" }}</option>
                    <option value="magic">{{ localize "RYUU.magic" }}</option>
                    {{/select}}
                </select>
            </div>
        </div>
</header>