<header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
        <div class="grid grid-5col">
            <div class="col1-5">
                <h1 class="charname"><input name="data.givenName" type="text" value="{{data.givenName}}" placeholder="Name" /></h1>
            </div>
            <div class="resource price">
                <label for="data.price" class="resource-label">{{ localize "RYUU.price" }}</label>
                <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number" />
            </div>
        </div>
        <div class="grid grid-3col">
            <div class="resource">
                <label for="data.size" class="resource-label">{{ localize "RYUU.size" }}</label>
                <input type="text" name="data.size" value="{{data.size}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label for="data.durability" class="resource-label">{{ localize "RYUU.durability" }}</label>
                <input type="text" name="data.durability" value="{{data.durability}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label for="data.equip" class="resource-label">{{ localize "RYUU.equip" }}</label>
                <select class="attribute-select" name="data.equip">
                    {{#select data.equip}}
                    <option value=""></option>
                    <option value="1hand">{{ localize "RYUU.1hand" }}</option>
                    <option value="2hand">{{ localize "RYUU.2hand" }}</option>
                    <option value="feet">{{ localize "RYUU.feet" }}</option>
                    <option value="chest">{{ localize "RYUU.chest" }}</option>
                    <option value="head">{{ localize "RYUU.head" }}</option>
                    <option value="face">{{ localize "RYUU.face" }}</option>
                    <option value="back">{{ localize "RYUU.back" }}</option>
                    <option value="staff">{{ localize "RYUU.staff" }}</option>
                    <option value="accessory">{{ localize "RYUU.accessory" }}</option>
                    {{/select}}
                </select>
            </div>
        </div>
</header>