<div>
    <div class="terrain grid grid-2col">
        <label for="data.itemBonus" class="resource-label">{{ localize "RYUU.terrainBonus" }}</label>
        <input type="text" name="data.itemBonus" value="{{data.itemBonus}}" data-dtype="Number" />
    </div>
</div>
<h3>Terrain</h3>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.grassland" {{checked data.grassland}} />
            <label for="data.grassland" class="resource-label">{{ localize "RYUU.grassland" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.wasteland" {{checked data.wasteland}} />
            <label for="data.wasteland" class="resource-label">{{ localize "RYUU.wasteland" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.woods" {{checked data.woods}} />
            <label for="data.woods" class="resource-label">{{ localize "RYUU.woods" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.highlands" {{checked data.highlands}} />
            <label for="data.highlands" class="resource-label">{{ localize "RYUU.highlands" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.rocky" {{checked data.rocky}} />
            <label for="data.rocky" class="resource-label">{{ localize "RYUU.rocky" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.forest" {{checked data.forest}} />
            <label for="data.forest" class="resource-label">{{ localize "RYUU.forest" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.swamp" {{checked data.swamp}} />
            <label for="data.swamp" class="resource-label">{{ localize "RYUU.swamp" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.mountain" {{checked data.mountain}} />
            <label for="data.mountain" class="resource-label">{{ localize "RYUU.mountain" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.desert" {{checked data.desert}} />
            <label for="data.desert" class="resource-label">{{ localize "RYUU.desert" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.jungle" {{checked data.jungle}} />
            <label for="data.jungle" class="resource-label">{{ localize "RYUU.jungle" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.alpine" {{checked data.alpine}} />
            <label for="data.alpine" class="resource-label">{{ localize "RYUU.alpine" }}</label>
        </div>
    </div>
</div>
<h3>Weather</h3>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.rain" {{checked data.rain}} />
            <label for="data.rain" class="resource-label">{{ localize "RYUU.rain" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.wind" {{checked data.wind}} />
            <label for="data.wind" class="resource-label">{{ localize "RYUU.wind" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.fog" {{checked data.fog}} />
            <label for="data.fog" class="resource-label">{{ localize "RYUU.fog" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.hot" {{checked data.hot}} />
            <label for="data.hot" class="resource-label">{{ localize "RYUU.hot" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.cold" {{checked data.cold}} />
            <label for="data.cold" class="resource-label">{{ localize "RYUU.cold" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.rain2" {{checked data.rain2}} />
            <label for="data.rain2" class="resource-label">{{ localize "RYUU.rain2" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.snow" {{checked data.snow}} />
            <label for="data.snow" class="resource-label">{{ localize "RYUU.snow" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.fog2" {{checked data.fog2}} />
            <label for="data.fog2" class="resource-label">{{ localize "RYUU.fog2" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.dark" {{checked data.dark}} />
            <label for="data.dark" class="resource-label">{{ localize "RYUU.dark" }}</label>
        </div>
    </div>
</div>
<div class="terrain grid grid-3col">
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.hurricane" {{checked data.hurricane}} />
            <label for="data.hurricane" class="resource-label">{{ localize "RYUU.hurricane" }}</label>
        </div>
    </div>
    <div>
        <div class="terrain">
            <input class="terrain" type="checkbox" name="data.blizzard" {{checked data.blizzard}} />
            <label for="data.blizzard" class="resource-label">{{ localize "RYUU.blizzard" }}</label>
        </div>
    </div>
</div>