.items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;

  .item-header {
    font-weight: bold;
  }

  .held-hidden {
    display: none;
  }


  .item,
  .level {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
      border: none;
    }

    .terrain-checkbox {
      flex: 0 0 7px;
      margin-right: 5px;
    }

    img {
      display: block;
    }
  }

  .item-name {
    margin: 0;
  }

  .terrain-name {
    flex: 0 0 90px;
  }

  .terrain-check {
    flex: 0 0 25px;
  }

  .terrain-input {
    flex: 0 0 50px;
  }

  .level-points {
    width: 30px;
  }

  .item-size {
    flex: 0 0 10px;
    text-align: left;
  }

  .item-damage {
    flex: 0 0 90px;
    text-align: center;
    font-weight: bold;
  }

  .item-accuracy {
    flex: 0 0 120px;
    text-align: center;
    font-weight: bold;
  }

  .item-equip {
    flex: 0 0 90px;
    text-align: center;
  }

  .item-controls {
    flex: 0 0 80px;
    text-align: right;

    .item-toggle {
      color: $c-beige;

      &.active {
        color: $c-olive;
      }

      &.fixed {
        color: $c-crimson;

        &:hover {
          text-shadow: none;
        }
      }
    }
  }
}