<section id="information">
    <!--
    <div class="information-terrain flexrow">
        <h4 class="name">Terrain:</h4>
        <h4>{{ settingsName "terrain" }}</h4>
        <h4 class="dc">{{ settingsDC "terrain" }}</h4>
    </div>
    <div class="information-weather flexrow">
        <h4 class="name">Weather:</h4>
        <h4>{{ settingsName "weather" }}</h4>
        <h4 class="dc">{{ settingsDC "weather" }}</h4>
    </div>
    <div class="information-time flexrow">
        <h4 class="name">Time:</h4>
        {{#if (settings "night")}}
        <h4>Night</h4>
        <h4 class="dc">1</h4>
        {{/if}}
        {{#else}}
        <h4>Day</h4>
        <h4 class="dc">0</h4>
        {{/else}}
    </div>
    -->
</section>