<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="data.givenName" type="text" value="{{data.givenName}}" placeholder="Name" /></h1>
            <div class="resource">
                <label>{{ localize "RYUU.price" }}</label>
                <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label>{{ localize "RYUU.size" }}</label>
                <input type="text" name="data.size" value="{{data.size}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label>{{ localize "RYUU.durability" }}</label>
                <input type="text" name="data.durability" value="{{data.durability}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label>{{ localize "RYUU.equip" }}</label>
                <input type="text" name="data.equip" value="{{data.equip}}" data-dtype="String" />
            </div>
            <div class="resource">
                <label>{{ localize "RYUU.dp" }}</label>
                <input type="text" name="data.defense" value="{{data.defense}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label>{{ localize "RYUU.penalty" }}</label>
                <input type="text" name="data.penalty" value="{{data.penalty}}" data-dtype="Number" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{ localize "RYUU.description" }}</a>
        <a class="item" data-tab="enchantments">{{ localize "RYUU.enchantments" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Enchantments Tab --}}
        <div class="tab enchantments" data-group="primary" data-tab="enchantments">
            <ol class="items-list">
                {{#each item.data.enchantments as |item id|}}
                <li class="item flexrow" data-item-id="{{item.name}}">
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>