<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/ryuutama/templates/item/parts/item-header.html"}}

    <section class="body">
        <div class="grid grid-2col">
            <div class="resource">
                <label for="data.holdingSize" class="resource-label">{{ localize "RYUU.holding" }}</label>
                <input readonly type="text" name="data.holdingSize" value="{{data.holdingSize}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <label for="data.canHold" class="resource-label">{{ localize "RYUU.canHold" }}</label>
                <input type="text" name="data.canHold" value="{{data.canHold}}" data-dtype="Number" />
            </div>
        </div>
    </section>

    {{> "systems/ryuutama/templates/item/parts/item-container-navigation.html"}}
</form>